@{
    ViewData["Title"] = "Let's date!";
}


<tab

<div class="row">
    <div class="col-md-10">

                <div class="form-floating">
                    
                </div>
    </div>

    <br />

    <div class="col-md-6 col-md-offset-2">
        <section>
            
        </section>
    </div>
</div>


<table class="table">
  <tbody>
    <tr>
      <td><img src="~/floating_heart.gif" /></td>
      <td><img src="~/floating_heart.gif" /></td>
    </tr>
    <tr>
      <td></td>
      <td><partial name="_LoginPartial" /></td>
    </tr>
  </tbody>
</table>

