@{
    ViewData["Title"] = "Let's date!";
}

<div class="row">
    <div class="col-md-10">

                <div class="form-floating">
                    <img src="~/floating_heart.gif" width="auto" />
                </div>
    </div>

    <br />

    <div class="col-md-6 col-md-offset-2">
        <section>
            <partial name="_LoginPartial" />
        </section>
    </div>
</div>

